cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
build/

resources/*
!resources/Car/


.idea/

*.exe
*.dll
*.lib
*.a
*.o
*.out
.vs/

*.spv
*.json

.DS_Store
Thumbs.db
